@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Dancing+Script:wght@400..700&family=Flamenco&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,500;1,500&family=Pacifico&family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&family=Poppins:wght@500;600;700;800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: #81ecec;
  font-size: 0.8rem;
}

.col-12,
.col-md-9 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.card {
  width: 100%;
  padding: 4em;
  background-color: rgb(46, 45, 45);
  color: #fff;
  box-shadow:
    0 4px 8px 2px rgba(0, 0, 0, 0.5),
    0 8px 10px 2px rgba(0, 0, 0, 0.5);
}

.row {
  margin: 0;
}

.path {
  color: grey;
  margin-bottom: 1rem;
}

.path a {
  color: #fff;
}

.info {
  padding: 6vh 0vh;
}

.checked {
  color: rgb(255, 217, 0);
  margin-right: 10px;
}

img {
  height: 30rem;
  width: 75%;
  margin-top: -2.5rem;
  padding: 1rem;
}

.fa-heart {
  font-size: 2rem;
  color: #fff;
  font-weight: lighter;
}

.fa-heart:hover {
  color: rgb(255, 217, 0);
}

#reviews {
  margin-left: 3vh;
  color: grey;
}

.price {
  margin-top: 2rem;
}

label.radio span {
  padding: 1vh 4vh;
  background: rgb(54, 54, 54);
  color: grey;
  display: inline-block;
  margin-left: 2vh;
}
